<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<div>
    <a href="/create">
        <button>Create Page</button>
    </a>
</div>
<img src="/images/testImage.png" alt="Test Image">
</body>
</html>
