<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/index.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</head>
<body>
    <h1><%= title %></h1>
    <div>
        <form id="usernameForm" action="/submit" method="POST">
            <label for="username">Enter your username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Submit</button>
        </form>
        <script>
            // Script block for client-side JavaScript
            document.getElementById('usernameForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission

                // Get the username entered by the user
                const username = document.getElementById('username').value;

                // Store the username in localStorage
                localStorage.setItem('userID', username);

                // Redirect to another page or perform other actions as needed
                window.location.href = '/explore'; // Example: Redirect to a success page
                console.log(username)
            });
        </script>
        <a href="/explore">
            <button>Explore Page</button>
        </a>
    </div>
</body>
</html>
