<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plant Page</title>
</head>
<body>
    <p><%= plant.description %></p>
    <br>
    <div class="col-lg-6 my-4">
        <iframe
            src="https://www.google.com/maps/embed?q=sheffield&t=&z=13&ie=UTF8&iwloc=&output=embed"
            class="w-100" height="400" allowfullscreen="" loading="lazy"></iframe>
    </div>

</body>
</html>