@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  padding: 50px;
  font-family: 'Roboto Slab', sans-serif !important;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.cropped-image {
  height: 300px;
  object-fit: cover;
}

.cropped-image-mobile {
  height: 120px;
  object-fit: cover;
}

.card-description {
  font-size: 14px;
}

.card {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-outline-secondary:hover {
  background-color: white;
}

.btn-primary {
  background-color: #2c4a27;
  color: white;
}

.bg-custom-primary {
  background-color: #2c4a27;
  color: white;
}

.text-light-custom {
  color: #bdcbbd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #1e321a;
  color: white;
}

#chat_interface {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrollbar if needed */
}

.checkbox-container {
  pointer-events: none; /* Disable mouse events */
  opacity: 1; /* Make it fully opaque */
}

.cta {
  position: relative;
  margin: auto;
  padding: 3px 16px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  display: block;
  border-radius: 45px;
  background: #2c4a27;
  opacity: 50%;
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #2c4a27;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #2c4a27;
  opacity: 75%;
}

.cta:hover svg {
  transform: translateX(0);
  stroke: white;
}
.cta:hover span {
  color: white;
}

.cta:active {
  transform: scale(0.95);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover { color: black; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

#map {
  min-width: 100%;
  min-height: 300px;
  max-width: 40%;
}

.btn-no-outline {
  border: none;
}