@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
  padding: 50px;
  font-family: 'Roboto Slab', sans-serif !important;
}

a {
  color: #00B7FF;
}

.cropped-image {
  height: 300px;
  object-fit: cover;
}

.cropped-image-mobile {
  height: 120px;
  object-fit: cover;
}

.card-description {
  font-size: 14px;
}

.card {
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.card:hover{
  transform: scale(1.005);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.btn-primary {
  background-color: #2c4a27;
  color: white;
}

.bg-custom-primary {
  background-color: #2c4a27;
  color: white;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #1e321a;
  color: white;
}

#chat_interface {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrollbar if needed */
}

.checkbox-container {
  pointer-events: none; /* Disable mouse events */
  opacity: 1; /* Make it fully opaque */
}